{% extends 'base.html' %} {% block menu %}
<li class="nav-item   ">
    <a class="nav-link" href="{% url 'home'%}">
        <i class="material-icons">dashboard</i>
        <p>Home</p>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'diagnose'%}">
        <i class="material-icons">content_paste</i>
        <p>Diagnosis</p>
    </a>
</li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'chat'%}">
        <i class="material-icons">bubble_chart</i>
        <p>Talk to Nishbot</p>
    </a>
</li>

{% endblock menu %} {% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Register</h4>
                        <p class="card-category">Enter credentials</p>
                    </div>
                    <div class="card-body">
                        <form class="" action="{% url 'register' %}" method="post">
                            {% csrf_token %} {% if form.errors %}
                            <div class="alert alert-warning alert-dismissable" role="alert">
                                <button class="close" data-dismiss="alert">
      <small><sup>x</sup></small>
    </button>
                                <p>Your form has errors...</p>
                                {% for field in form %} {% if field.errors %} {{ field.errors }} {% endif %} {% endfor %}

                            </div>

                            {% endif %} {{ form.as_p }}
                            <button type="submit" class="btn btn-primary pull-right">Register</button>
                        </form>

                        <div class="clearfix">
                            <h4> Already have an account? <a href="{% url 'login'%}">Login</h4> 
                    </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
{% endblock content %}